@use "sass:color";
@import "../../styles/variables.scss";

$light-blue-transparent: color.change($light-blue, $alpha: 0.2);
$light-blue-transparent-2: color.change($light-blue, $alpha: 0.1);

.mainPageAbout {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 1rem;
}

.heroCard.cards {
    max-width: unset;
    width: 100%;
}

.mainPageAbout .heroCard {
    margin: 8rem 0 1rem;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    gap: 2rem;
    border: solid 2px $light-blue-transparent-2;

    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        height: 50vh;
    }
}

.heroText {
    flex: 30% 1 1;
    padding: 0 2rem 0 0;

    h1 {
        text-wrap: balance;
    }

    @media screen and (max-width: 768px) {
        padding: 0 2rem 2rem;

        h1 {
            font-size: 1.6em;
        }
    }
}

.heroPicture {
    flex: 60% 1 0;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.heroPicture img {
    object-fit: cover;
    width: auto;
    height: 100%;
}

.content {
    margin: 3rem auto 0;
    padding-block-end: 5rem;
    padding-inline: 1rem;
    max-width: 1000px;

    p {
        text-indent: 2rem;
        line-height: 1.75;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1rem 6rem;

    a {
        padding: 0.5rem 1rem;
        border-radius: 5px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        color: $light-blue;

        svg {
            margin-inline-end: 0.5rem;
        }

        &:hover {
            background-color: $light-blue-transparent;
        }
    }

    a:last-of-type svg {
        margin-inline-start: 0.5rem;
        margin-inline-end: 0;
    }
}
