@use "sass:color";
@import "../../styles/variables.scss";

$max-width: 62.5rem;
$header-height: 45px;
$title-bar-width: 22.5rem;
$title-bar-min-width: 17.5rem;
$text-gray: color.change($text-white, $alpha: 0.9);

.section-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;
    padding: 0 1rem;
}

.section-title {
    text-align: center;
    margin-block-end: 1.25rem;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: underline hsl(330, 67%, 80%) 2px;
    text-decoration-skip-ink: none;
    text-underline-offset: 8px;
    width: 100%;
}

.project-container {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    height: fit-content;
    width: 100%;
    border-radius: 2.5rem;
    background: linear-gradient(135deg, hsla(var(--hue), 45%, 40%, 0.3) 0%, hsla(var(--hue), 67%, 80%, 0.1) 75%);
    outline: solid 1px hsla(var(--hue), 67%, 60%, 0.3);
    transition: transform 0.2s ease-in-out;

    .project-title-container {
        display: flex;
        position: relative;
        flex-direction: row;
        height: $header-height;
        width: $title-bar-width;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
        padding: 0;
        font-size: 1.2rem;
        font-weight: 500;
        color: $text-white;
        background: transparent;
        border: none;
        outline: transparent;
        gap: 1rem;

        &::after {
            content: "";
            position: absolute;
            top: 5%;
            left: 0;
            width: $title-bar-width;
            height: 90%;
            border-radius: calc($header-height / 2);
            background: var(--color-theme);
            border: solid 1px hsla(var(--hue), 72%, 10%, 0.5);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.15);
            transition: all 0.5s ease;
            z-index: -1;
        }

        & .project-icon {
            width: $header-height;
            height: $header-height;
            border-radius: 50%;
            overflow: hidden;
            background-color: hsla(var(--hue), 67%, 30%, 1);
            display: grid;
            place-items: center;
            flex-shrink: 0;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.15);
        }

        & h3 {
            font-size: 1.1rem;
            font-weight: 600;
            text-overflow: clip;
            word-wrap: none;
            text-align: center;
            margin: 0;
            width: fit-content;
        }

        
        @media screen and (max-width: 456px) {
            width: 100%;

            &::after {
                width: 100%;
            }

            & h3 {
                font-size: 0.9rem;
            }
        }
    }

    .project-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
        width: 100%;
        gap: 2rem;
        margin-block-start: 1rem;

        .project-preview {
            width: $title-bar-width;
            height: $title-bar-width;
            min-width: $title-bar-min-width;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            overflow: hidden;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.15);
            outline: solid 1px hsla(var(--hue), 67%, 60%, 0.5);

            @media screen and (max-width: 456px) {
                outline: unset;
                box-shadow: unset;
                height: fit-content;
            }

            img {
                width: auto;
                height: 100%;
                object-fit: contain;
                border-radius: 16px;

                @media screen and (max-width: 456px) {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .project-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-basis: calc(100% - #{$title-bar-width} - 2rem);
            flex-grow: 5;
            gap: 1rem;

            .project-category {
                font-size: 1rem;
                font-weight: 500;
                color: $text-gray;
                background: hsla(var(--hue), 67%, 30%, 0.5);
                padding: 0.25rem 0.75rem;
                border-radius: 0.25rem;
                margin: 0;
            }

            .project-description {
                font-size: 1rem;
                font-weight: 400;
                color: $text-white;
                margin: 0;
                padding-inline-start: 0.75rem;
            }

            .project-hashtags {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                span {
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: $text-gray;
                    border: solid 2px hsla(var(--hue), 67%, 30%, 0.5);
                    padding: 0.25rem 1rem;
                    border-radius: 1rem;
                    margin: 0;
                }
            }

            .project-link {
                text-decoration: none;
                position: relative;
                transform: translateY(0);
                transition: all 0.3s ease;
                margin-block-start: 1rem;
                margin-inline-start: 0.5rem;

                --link-color: hsla(var(--hue), 67%, 90%, 1);

                & p {
                    display: inline-block;
                    color: var(--link-color);
                    font-size: 1rem;
                    margin: 0;
                }

                & span {
                    margin-inline-end: 12px;
                    font-size: 1.4rem;
                    color: var(--link-color);
                }

                &:hover {
                    transform: translateY(-3px);
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 2px;
                    width: calc(100% - 3px);
                    height: 2px;
                    background-color: var(--link-color);
                    box-shadow: 0 1px 4px var(--link-color);
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: all 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}